server:
  port: ${PORT:8088}

spring:
  application:
    name: auto-hub-api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/auto
          jwk-set-uri: http://localhost:8080/realms/auto-hub/protocol/openid-connect/certs
  cloud:
    loadbalancer:
      enabled: true
      cache:
        enabled: true
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: agency
              uri: lb://auto-hub-agency
              predicates:
                - Path=/agency/**
              filters:
                - name: RequestTrace
                  args:
                    serviceId: auto-hub-agency
                - name: CircuitBreaker
                  args:
                    name: fallbackHandler
                    fallbackUri: forward:/fallback
            - id: ai
              uri: lb://auto-hub-ai
              predicates:
                - Path=/ai/**
              filters:
                - name: RequestTrace
                  args:
                    serviceId: auto-hub-ai
                - name: CircuitBreaker
                  args:
                    name: fallbackHandler
                    fallbackUri: forward:/fallback
            - id: booking
              uri: lb://auto-hub-booking
              predicates:
                - Path=/bookings/**
              filters:
                - name: RequestTrace
                  args:
                    serviceId: auto-hub-booking
                - name: CircuitBreaker
                  args:
                    name: fallbackHandler
                    fallbackUri: forward:/fallback
            - id: customer
              uri: lb://auto-hub-customer
              predicates:
                - Path=/customers/**
              filters:
                - name: RequestTrace
                  args:
                    serviceId: auto-hub-customer
                - name: CircuitBreaker
                  args:
                    name: fallbackHandler
                    fallbackUri: forward:/fallback
            - id: expense
              uri: lb://auto-hub-expense
              predicates:
                - Path=/expense/**
              filters:
                - name: RequestTrace
                  args:
                    serviceId: auto-hub-expense
                - name: CircuitBreaker
                  args:
                    name: fallbackHandler
                    fallbackUri: forward:/fallback
  http:
    codecs:
      max-in-memory-size: 20MB
  web:
    error:
      include-message: always
      include-binding-errors: never
      include-stacktrace: never
      include-exception: false

eureka:
  client:
    enabled: true
    healthcheck:
      enabled: true
    eureka-server-port: 8761
    service-url:
      defaultZone: http://localhost:8761/eureka/
    proxy-password: ${EUREKA_USER}
    proxy-user-name: ${EUREKA_PASSWORD}
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    instances:
      fallbackHandler:
        registerHealthIndicator: true
        waitDurationInOpenState: 30s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
  timelimiter:
    instances:
      fallbackHandler:
        timeoutDuration: 60s

management:
  server:
    port: ${PORT:8088}
  endpoint:
    health:
      group:
        custom:
          show-components: always
          show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,loggers,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    org:
      springframework:
        security: ERROR
        web:
          csrf:
            CsrfFilter: ERROR

apikey-secret: ${API_KEY_SECRET}

cors:
  mapping: '/**'
  allowedOrigins: '*'
  allowedMethods: '*'
  allowedHeaders: '*'
  codecMaxInMemorySizeInMb: 20

swagger:
  endpoints:
    - identifier: agency
      url: http://auto-hub-agency/agency/definition/v3/api-docs
    - identifier: ai
      url: http://auto-hub-ai/ai/definition/v3/api-docs
    - identifier: bookings
      url: http://auto-hub-booking/bookings/definition/v3/api-docs
    - identifier: customers
      url: http://auto-hub-customer/customers/definition/v3/api-docs
    - identifier: expense
      url: http://auto-hub-expense/expense/definition/v3/api-docs

cache:
  swagger-update-frequency: 0 0 5 * * *
  expire-after-rewrite-duration: PT23H59M59.999S
  initial-capacity: 5
  maximum-size: 50
