server:
  port: 0

spring:
  application:
    name: auto-hub-email-notification
  threads:
    virtual:
      enabled: true
  cloud:
    loadbalancer:
      enabled: true
      cache:
        enabled: true
    function:
      definition: emailNotificationConsumer
    stream:
      defaultBinder: kafka
      bindings:
        emailNotificationConsumer-in-0:
          binder: kafka
          destination: ${EMAIL_NOTIFICATION_TOPIC}
          contentType: application/json
          group: ${EMAIL_NOTIFICATION_CONSUMER_GROUP}
          consumer:
            default-retryable: true
            max-attempts: 3
            back-off-max-interval: 10000
            back-off-multiplier: 1.0
      kafka:
        binder:
          auto-create-topics: true
          auto-add-partitions: false
          consumer-properties:
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            allow.auto.create.topics: true
            auto.offset.reset: latest
        bindings:
          emailNotificationConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: false
    listener:
      missing-topics-fatal: false
  sendgrid:
    api-key: ${SENDGRID_API_KEY}
  web:
    error:
      include-message: always
      include-binding-errors: never
      include-stacktrace: never
      include-exception: false

eureka:
  client:
    enabled: true
    healthcheck:
      enabled: true
    eureka-server-port: 8761
    service-url:
      defaultZone: http://localhost:8761/eureka/
    proxy-password: ${EUREKA_USER}
    proxy-user-name: ${EUREKA_PASSWORD}
  instance:
    prefer-ip-address: true

management:
  server:
    port: ${server.port}
  endpoint:
    health:
      group:
        custom:
          show-components: always
          show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,loggers,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    org:
      springframework:
        security: ERROR
        web:
          csrf:
            CsrfFilter: ERROR

sendgrid:
  enabled: true
  mail:
    from: ${SENDGRID_MAIL_FROM}
    name: Auto Hub

mustache-template:
  enabled: true
